* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: brown;
}

@media (max-width: 768px) { 
  .header{
    flex-direction: column;
  }
 }

.header img {
  width: 8rem;
  border-radius: 30%;
}

.header h2 {
  color: white;
  font-size: 2rem;
  font-family: "Viaoda Libre", cursive;
}
.nav ul {
  display: flex;
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}
.nav a {
  text-decoration: none;
  color: brown;
  font-size: 1.5rem;
  align-items: center;
  font-family: "Viaoda Libre", cursive;
}

@media (max-width: 768px) { 
  .nav a{
    flex-direction: column;
  }
 }
.col-md-6 img {
  width: 20rem;
  border-radius: 30%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.col-md-6 p {
  margin-right: 2rem;
  font-family: "Viaoda Libre", cursive;
  font-size: 1.2rem;
}
main h2 {
  text-align: center;
  color: brown;
  font-family: "Viaoda Libre", cursive;
  border-bottom: 1px solid black;
}
main h3 {
  text-align: center;
  color: brown;
 
}
.col-md-4 .span-main-social a {
  text-decoration: none;
  font-size: 1.2rem;
  color: chocolate;
  margin-right: 1rem;
}
.col-md-4 .span-main-social img{
    border-radius: 50%;
}
footer {
  padding: 3rem;
  color: white;
  background-color: cornflowerblue;
}
footer h3 {
  text-align: center;
  font-family: "Viaoda Libre", cursive;
}
footer .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) { 
  footer .form{
    flex-direction: column;
  }
 }
.form label {
  margin-right: 1rem;
  font-family: "Viaoda Libre", cursive;
}
.form .btn {
  margin-left: 1rem;
}
.col-md-4 .span-main-images img {
  border: 0.5rem solid red;
  border-style: double;
  margin-left: 2rem;
}
.col-md-4 .span-main-images p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Viaoda Libre", cursive;
    font-size: 1.3rem;
    color: blueviolet;
}
.form-rezervare{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 0 auto;
}

.form-rezervare .btn{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-rezervare .btn:hover{
  background-color: red;
}
.col-md-3 .span-main-images p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Viaoda Libre", cursive;
  font-size: 1.3rem;
  color: blueviolet;
}
.col-md-3 .span-main-images img {
  border: 0.5rem solid red;
  border-style: double;
  margin-left: 2rem;
}